.u-center-text {
  text-align: center;
}

u-margin-bt-large {
  margin-bottom: 8rem;
}

u-margin-bt-medium {
  margin-bottom: 5rem;
}

u-margin-bt-small {
  margin-bottom: 2rem;
}

u-margin-top-large {
  margin-bottom: 8rem;
}

u-margin-top-medium {
  margin-bottom: 5rem;
}

u-margin-top-small {
  margin-bottom: 2rem;
}

u-margin-left-large {
  margin-bottom: 8rem;
}

u-margin-left-medium {
  margin-bottom: 5rem;
}

u-margin-left-small {
  margin-bottom: 2rem;
}

u-margin-rt-large {
  margin-bottom: 8rem;
}

u-margin-rt-medium {
  margin-bottom: 5rem;
}

u-margin-rt-small {
  margin-bottom: 2rem;
}
